*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    background-color: bisque;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    align-items: center;
}

.celular{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    padding: 24px 30px;
    background-image: url(./img/iphone.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 50rem;
    width: 25rem;
}

.container-chat{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 0px 24px 32px 24px;
    box-shadow: 0px 2px 4px #0005;
    height: 80%;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-margin-top: .8em;
}

.container-chat::-webkit-scrollbar{
    display: none;
}

.card:not(:nth-child(2)){
    margin-top: 24px;
}

.titulo{
    background-color: white;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: -5px;
    z-index: 2;
    padding: 24px 16px;
    width: 110%;
    height: 100px;
}

.card{
    display: grid;
    grid-template-columns: auto 1fr max-content;
    align-items: center;
    width: 100%;
    gap: 12px;
    border: 0.5px solid #b5b5b5;
    border-radius: 12px;
    padding: 12px;
    position: relative;
    max-height: 80px;
}

.card img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.nome-container{
    display: flex;
    align-items: center;
    gap: 8px;
}

.nome{
    font-weight: 500;
}

.qnt-msg{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background-color: #eb5e5e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}

.info{
    display: flex;
    flex-direction: column; 
    gap: 6px;
}

.tempo{
    place-self: start;
    font-size: 12px;
}

.tempo, .mensagem{
    color: #b5b5b5;
}

.contato{
    position: absolute;
    bottom: -22px;
    left: 74px;
    background-color: #eb5e5e;
    padding: 4px 10px;
    font-size: 14px;
    border-radius: 12px;
    color: white;
}